
@{
    ViewData["Title"] = "Chek Your Box";
    Layout = "~/Views/Shared/_Authlayoute.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            <p>rest password check Your Gmail</p>
        </div>

        <div>
            <p>
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank"> Your InBox </a>
            </p>
        </div>
    </div>
</div>


