@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Authlayoute.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">

        <div asp-validation-summary="All">  </div>
        <form asp-action="ResetPassword">
            <input class="text email" required asp-for="NewPassword" placeholder="New Password">
            <input class="text" required asp-for="confirmPassword" placeholder="Confirm Password">
            <input type="submit" value="Reset Password" />
            
        </form>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
